[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coala = "*"
coala-bears = "*"
black = "*"
pylint = "*"
grpcio-tools = "*"

[packages]
thoth-common = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "*"
gunicorn = "*"
flask-script = "*"
opentracing-instrumentation = "*"
requests = "*"
jaeger-client = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
